<?xml version="1.0" encoding="utf-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	
	<context-param>
		<param-name>appStatus</param-name>
		<param-value>online</param-value>
	</context-param>
	
	<filter>
		<filter-name>miniHtmlFilter</filter-name>
		<filter-class>com.cheer.mini.filter.MiniHtmlFilter</filter-class>
		<init-param>
			<param-name>encode</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>miniHtmlFilter</filter-name>
		<url-pattern>/student/*</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>HelloServlet</servlet-name>
		<servlet-class>com.cheer.mini.HelloServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>HelloServlet</servlet-name>
		<url-pattern>/HelloServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>StudentListServlet</servlet-name>
		<servlet-class>com.cheer.mini.StudentListServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>StudentSaveServlet</servlet-name>
		<servlet-class>com.cheer.mini.StudentSaveServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>StudentDeleteServlet</servlet-name>
		<servlet-class>com.cheer.mini.StudentDeleteServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>StudentAjaxListServlet</servlet-name>
		<servlet-class>com.cheer.mini.ajax.StudentListServlet</servlet-class>
	</servlet>
	
	
	<servlet-mapping>
		<servlet-name>StudentListServlet</servlet-name>
		<url-pattern>/student/list</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>StudentSaveServlet</servlet-name>
		<url-pattern>/student/save</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>StudentDeleteServlet</servlet-name>
		<url-pattern>/student/delete</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>StudentAjaxListServlet</servlet-name>
		<url-pattern>/student/ajax/list</url-pattern>
	</servlet-mapping>
	
	<listener>
		<listener-class>com.cheer.mini.listener.MiniServletContextListener</listener-class>
	</listener>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>